@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

/*.mary-table-pagination span[aria-current="page"] > span {*/
/*    @apply bg-primary text-base-100*/
/*}*/

/*.mary-table-pagination button {*/
/*    @apply cursor-pointer*/
/*}*/
.mary-table-pagination {
    button,
    span {
        @apply border-none text-xs;
    }

    button {
        @apply cursor-pointer;
    }

    span[aria-current='page'] > span {
        @apply bg-base-content/5;
    }

    /*button, span[aria-current="page"] > span, span[aria-disabled="true"] span {*/
    /*    @apply py-1 px-2*/
    /*}*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
